# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Build output
.next/
dist/
build/
out/

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs
*.log
pnpm-debug.log*

# IDE/editor
.vscode/
.idea/
*.swp

# Coverage/testing
coverage/
*.lcov

# Temporary files
.tmp/
*.tmp
